<template>
  <b-container>
    <h1>News</h1>
    <b-row class="mb-2">
      <b-col>
        <b-button to="/add" variant="success" size="lg">Add news</b-button>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-table striped hover :fields="columns" :items="news">
          <template v-slot:cell(index)="data">
            {{ data.index + 1 }}
          </template>
          <template v-slot:cell(actions)="data">
            <div>
              <b-button :to="'/edit/'+data.item.id" variant="success" size="sm">Edit</b-button>
              <b-button :to="'/preview/'+data.item.id" variant="info" size="sm">Preview</b-button>
              <b-button @click="confirmRemove(data.item)" variant="danger" size="sm">Delete</b-button>
            </div>
          </template>
        </b-table>
      </b-col>
    </b-row>

    <div>
      <b-modal id="delete-modal" title="Are you sure, delete news?" v-model="deleteModal" ok-variant="danger"
               @ok="remove()">
        <p class="my-4">{{ deleteNews.title }}</p>
      </b-modal>
    </div>
  </b-container>
</template>

<script>

    export default {
        data() {
            return {
                deleteModal: false,
                deleteNews: {},
                deleted: false,
                error: false,
                columns: [
                    {key: 'index', label: 'No.'},
                    {key: 'title', label: 'Title'},
                    {key: 'excerpt', label: 'Title'},
                    {key: 'content', label: 'Title'},
                    {key: 'created_at', label: 'Created'},
                    {key: 'updated_at', label: 'Updated'},
                    {key: 'actions', label: 'Actions'},
                ]
            }
        },
        async asyncData({$axios}) {
            const response = await $axios.$get('http://localhost:8088/news')
            return {news: response.data}
        },
        methods: {
            confirmRemove(news) {
                this.deleteNews = news;
                this.deleteModal = true;
            },
            remove() {
                this.$axios.delete('http://localhost:8088/news/' + this.deleteNews.id)
                    .then((response) => {
                        this.$axios.get('http://localhost:8088/news/')
                            .then((response) => {
                                this.news = response.data.data;
                            })

                        this.deleted = true;
                        this.deleteNews = {};
                    })
                    .catch((error) => {
                        this.error = true;
                    });
            }
        },
        watch: {
            deleted() {
                if (this.deleted) {
                    this.$bvToast.toast('News was deleted.', {
                        title: 'Success!',
                        variant: 'success',
                        autoHideDelay: 3000,
                        appendToast: false
                    })
                }
                this.$nextTick(() => {
                    this.deleted = false;
                })
            },
            error() {
                if (this.error) {
                    this.$bvToast.toast('News not found.', {
                        title: 'Error!',
                        variant: 'danger',
                        autoHideDelay: 5000,
                        appendToast: true
                    })
                }
                this.$nextTick(() => {
                    this.error = false;
                })
            }
        }
    }
</script>

<style>
</style>
