<template>
  <b-container>
    <h1>Preview news</h1>
    <b-row class="mb-2">
      <b-col>
        <h3>{{ news.title }}</h3>
        <p>{{ news.excerpt }}</p>
        <p>{{ news.content }}</p>
      </b-col>
    </b-row>

    <b-row class="mb-2">
      <b-col>
        <b-button to="/" variant="info">Back</b-button>
      </b-col>
    </b-row>

  </b-container>
</template>

<script>

    export default {
        async asyncData({$axios, params}) {
            const response = await $axios.$get('http://localhost:8088/news/' + params.id).catch((e)=>{
                error({ statusCode: 404, message: 'Post not found' })
            })
            return { news: response.data }
        },
        methods: {
            save() {
                console.log('save')
            },
            errorToast() {

            }
        },
        watch: {
            newsNotFound(){
                console.log('not found')
            }
        }
    }

</script>

<style>
</style>
