<template>
  <b-container>
    <h1>Edit news</h1>

    <b-form @submit.prevent="onSubmit">

      <b-form-group id="input-group-title" label="Title:" label-for="input-title">
        <b-form-input id="input-title" v-model="form.title" type="text" required
                      placeholder="Enter title"></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-excerpt" label="Excerpt:" label-for="input-excerpt">
        <b-form-textarea id="input-excerpt" v-model="form.excerpt" rows="3" required
                         placeholder="Enter excerpt"></b-form-textarea>
      </b-form-group>

      <b-form-group id="input-group-content" label="Content:" label-for="input-content">
        <b-form-textarea id="input-content" v-model="form.content" rows="10" required
                         placeholder="Enter content"></b-form-textarea>
      </b-form-group>

      <b-row class="mb-2">
        <b-col>
          <b-button to="/" variant="danger">Cancel</b-button>
          <b-button type="submit" variant="success">Save</b-button>
        </b-col>
      </b-row>

    </b-form>

  </b-container>
</template>

<script>

    export default {
        data() {
            return {
                updated: false,
                error: false,
                form: {
                    title: '',
                    excerpt: '',
                    content: ''
                }
            }
        },
        async asyncData({$axios, params}) {
            const response = await $axios.$get('http://localhost:8088/news/' + params.id).catch((e)=>{
                error({ statusCode: 404, message: 'Post not found' })
            })
            return {
                form: {
                    title: response.data.title,
                    excerpt: response.data.excerpt,
                    content: response.data.content
                }
            }
        },
        methods: {
            onSubmit() {
                this.$axios.put('http://localhost:8088/news/'+this.$route.params.id, this.form)
                    .then((response) => {
                        this.updated = true;
                    })
                    .catch((error) => {
                        this.error = error.response.data;
                    });
                return false;
            }
        },
        watch: {
            updated() {
                if (this.updated) {
                    this.$bvToast.toast('News was updated.', {
                        title: 'Success!',
                        variant: 'success',
                        autoHideDelay: 3000,
                        appendToast: false
                    })
                }
                this.$nextTick(() => {
                    this.updated = false;
                })
            },
            error() {
                if (this.error) {
                    for (let field in this.error) {
                        for (let i in this.error[field])
                            this.$bvToast.toast(this.error[field][i], {
                                title: 'Error!',
                                variant: 'danger',
                                autoHideDelay: 5000,
                                appendToast: true
                            })
                    }
                }
                this.$nextTick(() => {
                    this.error = false;
                })
            }
        }
    }
</script>

<style>
</style>
