<template>
  <b-container>
    <h1>News not found</h1>
    <b-row class="mb-2">
      <b-col>
        <b-button to="/" variant="info">Main page</b-button>
      </b-col>
    </b-row>

  </b-container>
</template>

<script>
    export default {
        name: "error"
    }
</script>

<style scoped>

</style>
